/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.float {
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.float:hover {
  -webkit-transform:translate(0px,-10px);
  -moz-transform:translate(0px,-10px);
  -ms-transform:translate(0px,-10px);
  -o-transform:translate(0px,-10px);
  transform:translate(0px,-10px);
}

.header:hover {
	text-decoration: none !important;
}

.header {
	color: #304650;
}

i:hover {
	color: #304650;
}

.button-blue-outline:hover {
	background-color: #304650 !important;
}

h1 h2 h3 {
	color: #304650 !important;
}

.article {
	color: #304650 !important;
}

.article:hover {
	opacity: 0.7 !important;
}

.article-details {
	margin-top: -15px !important;
}
